.dice--container {
  aspect-ratio: 1 /1;
  width: 6vw;
  box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
  border-radius: 10px;
  cursor: pointer;


  font-size: 21px;
  line-height: 24px;
  color: #2B283A;
  display: flex;
  justify-content: center;
  align-items: center;
}

.held {
  background: #59E391;
}

@media only screen and (max-width: 425px) {
  .dice--container{
    width: 10vw;
  }
}
@media only screen and (min-width: 1200px) {
  .dice--container{
    width: 8vw;
    font-size: 2rem;
  }
}
@media only screen and (min-width: 2560px) {
  .dice--container{
    width: 8vw;
    font-size: 4rem;
  }
}

