.app--container {
  background: #F5F5F5;
  border-radius: 10px;
  margin: 30px 20px 30px 20px;
  padding: 35px;
  text-align: center;
  aspect-ratio: 1 / 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.app--heading {
  margin: 30px 30px 0 30px;

 }

.app--description {
  font-family: 'Inter', SansSerif, serif;
  font-weight: 400;
  letter-spacing: -0.03em;
  margin: 5px 20px 0 20px;
  max-width: 40vw;

  color: #4A4E74;
}

.app--dice-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 18px;
  margin-top: 3vh;
}

.app--button {
  background: #5035FF;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.18);
  border-radius: 10px;
  border: none;
  opacity: 0.9;
  cursor: pointer;

  margin-bottom: 2vh;
  margin-top: 2vh;

  padding: 20px 10vw;
  font-size: 16px;
  line-height: 19px;

  color: #FFFFFF;
}

.app--button:hover {
  opacity: 1;
}

.app--button:active {
  background: #271b75;
}
